
.bg-1 {
   background-color: #6B0504;
    color: #ffffff;
    margin-top: 80px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.bg-2 {
    background-color: #9197AE;
    color: #ffffff;
    padding-bottom: 40px;
    padding-top: 40px;
}

.bg-3 {
    background-color: #ffffff;
    color: #555555;
    padding-bottom: 40px;
    padding-top: 40px;
}
.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
    padding-bottom: 40px;
    padding-top: 40px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border:0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    box-shadow: 0 0 5px 0 #000000;
}
.navbar-nav li a {
    color: #13293D !important;
}
.navbar-nav a:hover {
    color: #6B0504 !important;
    font-weight: bold;
}
body {
font: 20px "Open Sans", sans-serif; 
line-height: 1.8;
color: #f5f6f7;
background-color: #353531;
}

p {
font-size: 16px;
}
.margin {
    margin-bottom:45px;
} 
.aboutCol {
    padding: 5px 25px 5px 25px;
}
footer{
    box-shadow: 10px 0 0 0 #000000;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
a.button i{
    color:#ffffff;
}
a.button i:hover{
    color:#6B0504;
}
a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}